.bg{
    width: 100%;
    height: 100%;
    margin: 0%;
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(0,183,255);
    background: -moz-linear-gradient(0deg, rgba(0,183,255,1) 8%, rgba(0,123,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,183,255,1) 8%, rgba(0,123,255,1) 100%);
    background: linear-gradient(0deg, rgba(0,183,255,1) 8%, rgba(0,123,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b7ff",endColorstr="#007bff",GradientType=1);
}

.cus-cart{
    height: 30px;
    width: auto;
    padding-right: 1em;
}

.cus-thumb{
    height: 100px;
    width: auto;
}

.cus-title-midscreen{
    text-align: center;
    padding-top: 10%;
}

.cus-text-midscreen{
    text-align: center;
    padding-top: 40px;
    
}


